.post-option-icon{
    height: 17px !important;
    
}

.post-option{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    align-items: flex-start;
    /* border-top: 1px solid gray; */
}



.text-comment{
    font-size: 12px;
    color: gray;
    font-weight: 100;
    
}
.post-option-icon{
    cursor: pointer;
}