.search-bar {
  margin-left: 5px;
  background-color: rgb(188, 188, 188);
  border: none;
  width: 150px;
  height: 25px;
  border-radius: 2px;
  padding-left: 15px;
  
}

.header-seach {
  display: flex;
}
.search-icon {
  height: 13px;
  margin-left: 8px;
  margin-right: -25px;
  margin-top: 5px;
  z-index: 10;
  opacity: 50%;
}
